{% extends './base.html' %}

{% block content %}
    <form action={{ reg }} method="POST">
        <label for="name">Nome: </label>
        <input type="text" name="name">
        {% if register %}
            <select name="depto">
                {% for dep in deptos %}
                <option value={{dep.obterCodigo()}}>
                    {{dep.obterNome()}}
                </option>
                {% endfor %}
            </select>
        {% endif %}
        <input type="submit" value="Cadastrar">
    </form>
{% endblock %}