{% extends './base.html' %}
STATIC_URL = '/static/'
{% block content %}
    <a href="/usuario">Cadastre um funcionário</a>
    <a href="/depto">Cadastre um departamento</a>
    <br><br>
    <form>
        <label>Buscar funcionário: </label>
        <input type="number" id="cod">
        <input type="submit" id="search" value="Procurar">
        <label>Buscar departamento: </label>
        <input type="number" id="cod1">
        <input type="submit" id="search1" value="Procurar">
    </form>
    <br><br>
    <button id="listFunc">Listar Funcionários</button>
    <button id="listDepto">Listar Departamentos</button>

    <script>
        const search = document.querySelector('#search');
        search.addEventListener('click', (e) => {
            window.location.href = '/buscaFunc/' + (document.querySelector('#cod').value != '' ? document.querySelector('#cod').value : '00');
            e.preventDefault();
        });
        const search1 = document.querySelector('#search1');
        search1.addEventListener('click', (e) => {
            window.location.href = '/buscaDepto/' + (document.querySelector('#cod1').value != '' ? document.querySelector('#cod1').value : '00');
            e.preventDefault();
        });

        const listFunc = document.querySelector('#listFunc');
        listFunc.addEventListener('click', function (e) {
            window.location.href = '/listFunc';
            e.preventDefault();
        });
        const listDepto = document.querySelector('#listDepto');
        listDepto.addEventListener('click', function (e) {
            window.location.href = '/listDepto';
            e.preventDefault();
        });
    </script>
{% endblock %}